.cursorrules
BackendAPIDemo/outputs/
BackendAPIDemo/app.log
MobileAANext copy/android/.gradle/8.14.3/
MobileAANext copy/android/app/src/main/res/
MobileAANext copy/node_modules/
MobileAANext copy/android/.gradle/
MobileAANext/windows/flutter/
MobileAANext/macos/Flutter/
MobileAANext/android/app/.cxx/Debug/
MobileAANext/windows/flutter/generated_plugin_registrant.cc
MobileAANext/pubspec.lock
MobileAANext/windows/flutter/
MobileAANext/windows/flutter/generated_plugin_registrant.cc
MobileAANext/windows/flutter/generated_plugins.cmake
MobileAANext/linux/flutter/
MobileAANext/linux/flutter/generated_plugin_registrant.h
RSS_Database/__pycache__/
RSS_Database/final/audio/
RSS_Database/final/audio_parts/
RSS_Database/final/
BackendAPIDemo/audio/
AANextDemo/yedek/
AANextDemo/reels.json
BackendAPIDemo/src/api/utils/__pycache__/
